.wrapper {
    background-color: darkgoldenrod;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    background-color: aqua;
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    background-color: black;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    background-color: blue;
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    background-color: red;
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    background-color: yellow;
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    background-color: violet;
    grid-column: 3;
    grid-row: 4;
  }
  